<form>
    <br>
    Date and time you first notice this bug: <br><br><input type = "date"> 
    <br><br>
     <input type = "time"> 
   
     <pre></pre>
  
  </form>

  <br><br>
  <label for="Impact">Impact:</label>
  <select itemtype="Impact">
    <option  value="low">low</option>
    <option  value="good">good</option>
 </select>


 <br><br>
  <p><label for="Detail explanation of bug">Detailed explanation of bug:</label></p>
  <textarea id="Detail explaination of bug" name="bug" rows="4" cols="50"></textarea>
